//colours
$blue: #b4c8e8;
$green: #88e68b;
$yellow: #f1f178;
$bright-yellow:#ecc707;
$pink: #c77de2;
$purple: #d15a40;
$orange: #ff9d1e;
$lightgreen: #42f445;
$silver: #c7c7c7;
$light: #eee8e8;
$dark-blue: #045669;

//fonts
$header-font: 'Staatliches', cursive;
$main-font: 'Open Sans', sans-serif;
$small-header: 20px;
$smaller-header: 18px;
$text-block-size: 16px;
$smaller-text-block-size: 14px;

//animation
$use-tada: true;
$use-bounceInLeft: true;
$use-bounceOutLeft: true;

//media queries
$tablet-width: 768px;
$desktop-width: 1024px;


