//colours
$blue: #4286f4;
$green: #42f445;
$yellow: #fcfc28;
$pink: #f4427a;
$purple: #cb51f7;
$orange: #ff9d1e;
$lightgreen: #42f445;
$grey: #ece8e8;

//fonts
$header-font: 'Bungee Shade', cursive;
$main-font: 'Gaegu', cursive;
$small-header: 24px;
$text-block-size: 18px;

//animation
$use-tada: true;
$use-bounceInLeft: true;
$use-bounceOutLeft: true;

//media queries
$tablet-width: 768px;
$desktop-width: 1024px;


