@import "_variables";
@import "_mixins";
@import "animate-sass/animate";
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Staatliches&display=swap');

html body {
  min-height: 100%;
  min-width: 100%;
  padding: 0;
  margin: 0;
  background-color: $dark-blue;
}

.page-wrapper {
  @include display(flex);
  flex-direction: column;
  text-align: center;
  font-family: $main-font;
  background-color: $dark-blue;
  min-height: 100%;
  padding: 0;
  margin: 0;
  width: 100%; 
  overflow:hidden;
}

.visible {
  display: inline-block;
}

.hidden {
  display: none;
}


.dropdown {
  z-index: 100;
  width: 100px;
  height: 30px;
  position: absolute;
  top:20px;
  right:20px;
  background-color:$blue;
  @include border-radius(10px);
  box-shadow: -8px 5px #000;
  padding: 0px;
  margin: 6px;
  font-family: $main-font;
  text-align: center;
  font-size: 12px;
  border: 2px solid black;
  @media (min-width: $tablet-width) {
    display: block;
    margin: 20px auto;
    width: 100px;
    height: 40px;
    }
}

*:focus {
    outline: none;
}

.title-text {
  text-align: center;
  
  color: $bright-yellow;
  
}

.title {
  font-family: $header-font;
  font-size: 40px;
  letter-spacing: 4px;
  margin-top: 80px;
  margin-bottom: 40px;
  text-shadow: -5px 4px 0px black;
  @media (min-width: $tablet-width){
    font-size:100px;
  }
}
.sub-title {
  color: $bright-yellow;
  position: relative;
  margin:30px; 
  font-family: $header-font;
  font-size: 30px;
  letter-spacing: 2px;
  text-shadow: -5px 4px 0px black;
  @media (min-width: $tablet-width){
    font-size: 50px;
  }
}
.buttonsAndCounter {
  flex: 0 0 8rem;
  @media (min-width: $tablet-width) {
    @include order(1);
    min-width: 20vw;
    margin-left: 40px;
  }
  @include order(2);
  text-align: center;
  margin-bottom: 40px;
}

.main {
  @media (min-width: $tablet-width) {
    @include display(flex);
    align-items: stretch;
    justify-content: flex-start;
    flex-direction: row;
    margin-top: 40px;
  }
  margin-bottom: 100px;
  color: $light;
}

.game {
  flex: 1 1 auto;
  @media (min-width: $tablet-width) {
    @include order(2);
   width: 60vw;
  }
  
}
.deck {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 5%;
  position: relative;
  perspective: 800px;
  margin: 0 auto;
  width: 90%;
  height: 60vh;
  @media (min-width: $desktop-width){
    height: 70vh;
  }
} 


.instructions {
  @media (min-width: $tablet-width) {
    flex: 0 0 auto;
    @include order(3);
    width: 20vw;
    margin-right: 40px;
  }
  @include order(1);
  text-align: center;
  margin: 0 10px;
}


.instructions-title {
  font-size: $smaller-header;
  @media (min-width: $tablet-width) {
    font-size: $small-header;
  }
}


.list {
  list-style-type: none;
  line-height: 1.5;
  font-size: $smaller-text-block-size;
  @media (min-width: $tablet-width) {
    font-size: $text-block-size;
  }
  padding: 0;
}

.list-item {
  margin-bottom: 15px;
}

.counter-text {
  @media (min-width: $tablet-width) {
    font-size: $small-header;
  }
  font-size: $smaller-header;
  position: relative;
}

.counter {
  @media (min-width: $tablet-width) {
    font-size: 40px;
  }
  font-family: $main-font;
  font-size:  $small-header;
  margin-left: 20px;
}

.notation-1 {
  @include notation("../assets/symphony_1/01.png")
}

.notation-2 {
  @include notation("../assets/symphony_1/02.png")
}

.notation-3 {
  @include notation("../assets/symphony_1/03.png")
}

.notation-4 {
  @include notation("../assets/symphony_1/04.png")
}

.notation-5 {
  @include notation("../assets/symphony_1/05.png")
}

.notation-6 {
  @include notation("../assets/symphony_1/06.png")
}

.plainFront {
  background-color: $silver;
  background-image:url("../assets/images/question.png");
  background-size:20%;
  background-repeat: no-repeat;
  background-position:center;
}

.card {
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  transition: transform 0.6s;
}

figure {
  margin: 0;
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  @include border-radius(20px);
  box-shadow: -5px 5px #000;
}

.faceDown {
  background-image: url("../assets/images/Beethoven.png");
  background-repeat: no-repeat;
  background-size: 40%;
  background-color: #c7c7c7;
  background-position: center;
  border: 2px solid black;
}

.spinBack {
  @include rotateY(180deg);
}

.back {
  border: 2px solid black;
}

.flipped {
  @include rotateY(180deg);
}

.disabled {
  pointer-events: none;
}

%btn {
  width: 110px;
  height: 40px;
  @include border-radius(10px);
  box-shadow: -8px 5px #000;
  padding: 0px;
  margin: 6px;
  font-family: $main-font;
  text-align: center;
  font-size: 12px;
  border: 2px solid black;
  transition: all 0.2s ease-in-out;
  @media (min-width: $tablet-width) {
    display: block;
    margin: 20px auto;
    width: 140px;
    height: 40px;
    font-size: 16px;
    
  }
}

%btn:hover {
  opacity: 0.6;
}

.easy-btn {
  @extend %btn;
  background-color: $green;
}

button:active,
button:focus {
  outline: 0;
}

.hard-btn {
  @extend %btn;
  background-color: $blue;
}

.active {
  box-shadow: -1px 1px #000;
  top: 4px;
  opacity: 0.6;
}

.reset-btn {
  @extend %btn;
  background-color: $orange;
}

.reset-btn:active {
  box-shadow: -1px 1px #000;
  top: 4px;
}

.win-pop-up {
  background-color: $blue;
  color: black;
  @include border-radius(20px);
  border: 2px solid black;
  width: 300px; 
  height: 300px; 
  margin: 40px auto;
  z-index: 5; 
  cursor: pointer; 
  position: fixed;
	top: 80px;
	bottom: 0;
	left: 0;
	right: 0;
}

.hidden {
  display: none;
}

.win-title {
  @media (min-width: $tablet-width) {
    font-size: 40px;
  }
  font-family: $header-font;
  font-size: $smaller-header;
  
}

.final-counter-text {
  margin-top: 0;
  font-size: $smaller-header;
}

.play-btn {
  @extend %btn;
  background-color: $green;
  width: 120px;
}

.play-btn:active {
  box-shadow: -1px 1px #000;
  top: 4px;
}